<div id="new-wish">
  <h2>Add a wish</h2>

  <%= form_for @wish do |wish| %>
    <fieldset>
      <ul>
        <li><%= wish.label :title %><%= wish.text_field :title %></li>
        <li><%= wish.label :summary %><%= wish.text_area :summary %></li>
        <li><%= wish.label :url %><%= wish.text_field :url %></li>
        <li><%= wish.label :image %><%= wish.text_field :image %></li>
        <li><%= hidden_field :user, :id, {value: current_user.id} %></li>
        <li><%= wish.submit "Add wish" %></li>
      </ul>
    </fieldset>
  <% end %>
</div>
